<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>메인 폼</title>
  </head>

  <body>
    <div style="width: 900px; height: 900px">
      <span
        >체중을 입력해주세요 :
        <form action="/weight/weight.do" method="post">
          <input type="date" name="date" />
          <input type="number" name="weight_Data" min="0" />
          <button>전송</button>
        </form>
      </span>
      <!--차트가 그려질 부분-->
      <canvas id="myChart"></canvas>
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript">
    var context = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(context, {
      type: 'bar', // 차트의 형태
      data: {
        // 차트에 들어갈 데이터
        labels: [
          //x 축
          '2021-12-13',
          '2021-12-14',
          '2021-12-15',
        ],
        datasets: [
          {
            //데이터
            label: '체중 기록', //차트 제목
            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
            data: [95, 80, 90],
            backgroundColor: [
              //색상
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              //경계선 색상
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1, //경계선 굵기
          } /* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */,
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  </script>
</html>
